body {
  background: #2B2D32;
  font-family: Merriweather;
}

#content {
  padding-top: 80px;
  color: #C3B5A2;
}

#cloud-desc {
  color: #f4f0ea;
}

h1 {
  font-size: 4em;
  letter-spacing: 2px;
  color: f4f0ea;
}

h2 {
  font-size: 2em;
  letter-spacing: 2px;
  color: f4f0ea;
}

#button {
  padding-top: 20px;
  color: #998d7d;
}

footer {
  padding-top: 20px;
}

#footer-content {
  border-top: 2px solid #998d7d;
}

i {
  padding-top: 17px;
}

a {
  color: #998d7d;
  font-size: 25px;
}

a:link {
  color: #998d7d;
  font-size: 25px;
}

a:hover {
  color: #C3B5A2;
  text-decoration: none;
}

a: active {
  color: #C3B5A2;
  text-decoration: none;
}

a:visited {
  color: #C3B5A2;
  text-decoration: none;
}


